.container__resume {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
}
.title, .subtitle {
    font-weight: 600;
}
.list ul {
    list-style-type: none;
}

a {
    color: rgb(109, 106, 106);
}